<h1>{{blog.title}}</h1>
<br>
<h2>{{blog.content}}</h2>
<br>
<h2>{{blog.date_created}}</h2>

<h2>USERNAME: {{blog.user.name}}</h2>

{{!-- {{#each comments as |comment|}}
<h2>{{comment}}</h2> --}}



<form class="commentForm" data-id="{{post.id}}">
    <textarea class="commentInput" rows="3"></textarea>
    <br>
    <button type="submit"class="commentBtn btn btn-primary">Leave a Comment</button>
</form>

<script src="/js/comment.js"></script>