<h1> Welcome to Tech Blog </h1>
<div>
    {{#each blogs as |blog|}}
    <div>
        <div>
            <a href="/blog/{{id}}">{{blog.title}}</a>
        </div>
        <div>
            Post:{{blog.content}}
        </div>
        <div>
            {{!-- Date: {{blog.date_created}} --}}
        </div>
        <div>
            {{#each blog.commentContent as |comment|}}
            <p>Comment: {{comment}}</p>
            {{/each}}
        </div>
        <br>


    </div>

    {{/each}}

</div>


<script src="/js/comment.js"></script>